<!--
	author      : 임정채
	date        : 2015.11.02 13:00
	description : 게시판 메인
-->
<!doctype html>
<html ng-clock ng-app="app.controller.board">
	<head>
		<meta charset="utf-8">
	</head>
	<body>
		<form name="form1">
			<table border="1" width="600" height="400">
				<tr>
					<td rowspan="4" width="50"><ng-include src="'/common/left.html'" /></td>
				</tr>
				<tr>
					<td height="30"><ng-include src="'/common/header.html'" /></td>
				</tr>
				<tr>
					<td height="360"><ng-view></ng-view></td>
				</tr>
				<tr>
					<td height="30"><ng-include src="'/common/footer.html'" /></td>
				</tr>
			</table>
		</form>
	</body>
	<link   rel="stylesheet" href="/css/board.css"                ></link>
	<script src="/node_modules/angular/angular.min.js"            ></script>
	<script src="/node_modules/angular-route/angular-route.min.js"></script>
	<script src="/node_modules/oclazyload/dist/ocLazyLoad.min.js" ></script>
	<script src="/interceptor/initializeInterceptor.js"           ></script>
	<script src="/board/boardController.js"                       ></script>
</html>
