<!--
	author      : 임정채
	date        : 2015.11.02 13:00
	description : 게시판 목록
-->
<div>
	<div>

		<table>
			<tr>
				<td>번호</td>
				<td>제목</td>
				<td>이름</td>
			</tr>
			<tr ng-repeat="board in boardList">
				<td><a ng-href="#retrieveBoard/{{board._id}}">{{board._id}}</a></td>
				<td>{{board.title}}</td>
				<td>{{board.name}}</td>
			</tr>
			<tr>
				<td colspan="3">
					<nalanhi-button type="button-insert"></nalanhi-button>
					<nalanhi-button type="button-list"  ></nalanhi-button>
				</td>
			</tr>
		</table>

		<a ng-href="#retrieveBoardList">목록</a>
		<a ng-href="#insertBoard">등록</a>
	<div>
</div>
