<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link ref="stylesheet" href="/css/master.css">
        <title>ejs</title>
    </head>
    <body>
        <h1>first ejs</h1><br>
        name  : <%=name%><br>
        count : <%=count%>
    </body>
</html>
