<!--
    angular.min.js           : front framework
    angular-route.min.js     : router
    ocLazyLoad.min.js        : lib lazy loading
    initializeInterceptor.js : request, response interceptor
    boardController.js       : sample controller

    board.css                : sample css
-->
<script src="/node_modules/angular/angular.min.js"></script>
<script src="/node_modules/angular-route/angular-route.min.js"></script>
<script src="/node_modules/oclazyload/dist/ocLazyLoad.min.js"></script>
<script src="/interceptor/initializeInterceptor.js"></script>
<script src="/board/boardController.js"></script>
<link rel="stylesheet" type="text/css" href="/css/board.css" />
