<!doctype html>
<html ng-app="postsApplication">
	<head>
		<meta charset="utf-8">
		<script src="/script/angular/1.4.7/angular.min.js"></script>
		<script src="/script/angular/1.4.7/angular-route.min.js"></script>
		<script src="/test/testController.js"></script>
	</head>
	<body ng-controller="postsController">

		public  variable : {{postsService.variable}} <br>
		private variable : {{postsService.getPrivate()}}<br><br>

		<h2 ng-click="reverseName()">Hey Click me to reverse your name!</h2><br>
		<div><a href="#testDirectve-one">directive1</a></div>
		<div><a href="#testDirectve-two">directive2</a></div>
		<ng-view></ng-view>
	</body>
</html>
