<!--
	author      : 임정채
	date        : 2015.11.02 13:00
	description : 게시판 조회
-->
<div>
	<div>
		<table>
			<tr>
				<td>번호</td>
				<td>{{board._id}}</td>
			</tr>
			<tr>
				<td>이름</td>
				<td>{{board.name}}</td>
			</tr>
			<tr>
				<td>제목</td>
				<td>{{board.title}}</td>
			</tr>
			<tr>
				<td>내용</td>
				<td>{{board.contents}}</td>
			</tr>
		</table>

		<a ng-href="#retrieveBoardList">목록</a>
		<a ng-href="#updateBoard/{{board._id}}">수정</a>
		<a ng-click="deleteBoard()">삭제</a>
	<div>
</div>
